<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Sakubun improves your Japanese vocabulary and kanji skills with practice that's customized to your needs.">
  <meta property="og:title" content="Sakubun">
  <meta property="og:image" content="/icon-192x192.png">
  <meta property="og:description" content="Sakubun improves your Japanese vocabulary and kanji skills with practice that's customized to your needs.">
  <meta name="theme-color" content="#1a1a1a">
  <title>{% block title %}Sakubun{% endblock title %}</title>
  <link rel="stylesheet" href="/styles/main.css">
  {% block head %}{% endblock head %}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <noscript>
    <link rel="stylesheet" href="/styles/noscript.css">
  </noscript>
  <link rel="manifest" href="/manifest.json">
  <script data-host="https://microanalytics.io" data-dnt="false" src="https://microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
</head>
<body {% if theme != "system" %}class="{{ theme }}"{% endif %}>
  <noscript>Error: Sakubun requires JavaScript to function</noscript>
  <header role="banner">
    {% block header %}{% endblock header %}
    <a href="/">作文</a>
    <div aria-label="theme selector">
      <button id="dark" title="dark theme" aria-label="dark theme" class="exception {% if theme == "dark" %}active{% endif %}">
        <span class="material-icons">dark_mode</span>
      </button>
      <button id="light" title="light theme" aria-label="light theme" class="exception {% if theme == "light" %}active{% endif %}">
        <span class="material-icons">light_mode</span>
      </button>
      <button id="system" title="system theme" aria-label="system theme" class="exception {% if theme == "system" %}active{% endif %}">
        <span class="material-icons">settings_brightness</span>
      </button>
    </div>
  </header>
  <nav>
    <a {% if page == "custom_text" %}class="active"{% endif %} href="/custom_text">
      Custom Text
    </a>
    <a {% if page == "known_kanji" %}class="active"{% endif %} href="/known_kanji">
      Known Kanji
    </a>
    <a {% if page == "quiz" %}class="active"{% endif %} href="/quiz">
      Quiz
    </a>
    <a {% if page == "essay" %}class="active"{% endif %} href="/essay">
      Essay
    </a>
  </nav>
  {% block content %}{% endblock content %}
  <script src="/scripts/jquery-3.5.1.min.js"></script>
  <script>
    function get_cookie(name) {
      let nameEQ = name + "=";
      let ca = document.cookie.split(";");
      for (let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) === " ") c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }

    // Set theme when loaded from service worker
    if (get_cookie("theme")) {
      $("body").attr("class", get_cookie("theme"));
      $("header button").removeClass("active");
      $(`#${get_cookie("theme")}`).addClass("active");
    }

    $(window).on("load", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/service-worker.js");
      }
    });
    function reorder_theme_icons() {
      $("header div").append($("#system"))
        .append($("#dark"))
        .append($("#light"))
        .append($("header button.active"));
    }

    reorder_theme_icons();

    $("header div button").click(function() {
      if ($(this).parent().hasClass("open")) {
        $("header div button").removeClass("active");
        $(this).addClass("active");
        if (this.id === "system") {
          // Delete the cookie
          document.cookie = "theme=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          $("body").attr("class", "");
        } else {
          document.cookie = "theme=" + this.id + "; SameSite=Lax;";
          $("body").attr("class", this.id);
        }
        $(this).parent().append($(this));
      } else {
        reorder_theme_icons();
      }
      $(this).parent().toggleClass("open");
    });
  </script>
  {% block javascript %}{% endblock javascript %}
</body>
</html>
