main h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  margin-top: 0;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.3rem;
}

p, ul {
  font-size: 1.25rem;
  text-align: justify;
  line-height: 1.4em;

  .material-icons {
    position: relative;
    top: .2em;
  }
}

b {
  font-size: 1.2rem;
}

a {
  color: var(--link);
}

footer {
  background-color: var(--background-dark);
  display: flex;
  font-size: 1.1em;
  padding: 1em 1.5em;
  justify-content: space-between;
}

// Mock ups

#add_kanji {
  appearance: none;
  background: none;
  border: 2px solid var(--accent);
  border-radius: 5px;
  color: var(--foreground);
  display: block;
  font-size: 1em;
  padding: .5rem 1rem;
  margin: 1em 10vw;
}

#choose_file, #upload, #import {
  cursor: default;
  display: inline-block;
  font-size: .8rem;
  padding: .3rem .7rem;
  margin: 0;
}

#choose_file:hover, #upload:hover, #import:hover {
  background-color: var(--button);
}

.card {
  background-color: var(--card);
  border-radius: 5px;
  display: flex;
  padding: 1em;

  h2 {
    margin: 0;
  }
}

#quiz > div:last-child {
  background-color: var(--background);
  border-radius: 5px;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30vw;
  margin-left: 1em;
}

#custom_text > div:first-child {
  background-color: var(--background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  padding: .5em;
  min-width: 30vw;
  margin: 0 1em 0 0;

  p {
    margin: 0;
  }
}

#question {
  font-size: 2em;
}

#answer, #kana, #meaning {
  font-size: 1.5em;
}

textarea {
  background: none;
  color: var(--success);
  border-bottom: solid var(--success);
  border-radius: 0;
  border-width: 0 0 1px 0;
  font-family: sans-serif;
  width: calc(100% - 2em);
  overflow: hidden;
  padding-bottom: .5em;
  text-align: center;
}

#meaning, #question {
  margin: .5em 0;
}

// Media queries

@media all and (display-mode: standalone) {
  .install {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  #quiz {
    flex-direction: column;
  }

  #custom_text {
    flex-direction: column-reverse;
  }

  #quiz > div:last-child, #custom_text > div:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  p, ul {
    font-size: 1em;
  }

  #question {
    font-size: 1.7em;
  }

  #answer, #kana, #meaning {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 350px) {
  #add_kanji {
    margin: 1em 0;
  }

  p, ul {
    text-align: left;
  }
}
