main {
    display: flex;
    flex-direction: column;

    > p {
        text-align: center;
    }

    #add_kanji label, form p {
        margin: 1em;
        padding: 0;
    }

    > form input {
        appearance: none;
        background: none;
        border: 2px solid var(--foreground);
        border-radius: 5px;
        color: var(--foreground);
        display: block;
        font-size: 1em;
        padding: .5rem 1rem;
        width: calc(100% - 3em);
        margin: 1em auto;
    }

    input:focus {
        border-color: var(--accent);
        outline: none;
    }

    > div:not(#kanji) {
        padding: .5em 1em;
    }
}

section {
    padding: 0 1em;

    button {
        font-size: .7rem;
        margin: 0 !important;
    }

    hr {
        margin-top: 1.5em;
    }

    a {
        color: var(--link);
    }
}

section > button {
    font-size: .8rem;
    margin: auto !important;
}

section > div {
    display: none;
}

.import_option {
    display: none;
}

#wanikani {
    input {
        background: none;
        border: solid var(--foreground);
        border-width: 0 0 2px 0;
        color: var(--foreground);
        font-size: 1.2em;
        font-family: monospace;
        padding: .25em .5em;
        text-align: center;
        width: min(80vw, 25em);
    }

    input:focus {
        border-color: var(--accent);
    }
}

#rtk input {
    font-size: .9em;
    margin: 0 .9em 0 .5em;
}

#remove_all {
    background-color: var(--error);
    margin: auto !important;
}

// The :not() is only to elevate the priority of this set, no .remove will actually have .exception
// We don't use !important because then the jquery .show() doesn't seem to work
.remove:not(.exception) {
    background: var(--remove);
    border-radius: 5px;
    border: none;
    color: var(--background);
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

#remove_from_preview {
    bottom: 2em;
    z-index: 11;
}

#confirmation {
    z-index: 13;
}

#confirmation + .overlay {
    z-index: 12;
}

#preview > div:last-child {
    position: sticky;
    bottom: 0;
    z-index: 11;

    button.text {
        background-color: var(--background-extreme-transparent);
    }

    button.text:hover {
        background-color: var(--background-dark-transparent);
    }
}

.remove:hover {
    background-color: var(--remove-hover) !important;
}

.kanji_grid {
    display: grid;
    font-size: 2em;
    grid-auto-rows: 2em;
    grid-template-columns: repeat(auto-fill, 2em);
    justify-content: center;
    // The margin is useful on touch devices for scrolling
    margin: 0 1em;
    // Disable text selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div {
        text-align: center;
        line-height: 2em;
    }

    div:hover {
        background-color: var(--background-light);
    }

    div.selected {
        background-color: var(--button);
    }

    div.selected:hover {
        background-color: var(--button-hover);
    }
}

#preview_kanji {
    margin-bottom: 1em;
}

// Select menus

select {
    background: none;
    border: solid var(--foreground);
    border-width: 0 0 2px 0;
    color: var(--foreground);
    font-size: .9em;
}

select:focus {
    border-color: var(--accent);
}

// File selector

.upload {
    font-size: .9em;
    display: flex;
    margin: 1em 0;

    div {
        border: 1px solid var(--foreground);
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
        overflow: hidden;
        padding: .5em;
        width: 15em;
        height: 1.5em;
        // Hides the vertical overflow which would otherwise show up due to the padding
        line-height: calc(1.5em + 1px);
    }

    label {
        background-color: var(--button);
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-family: "Cantarell Bold";
        font-size: .8em;
        padding: calc(.7em + 2px) 1em;
    }

    label:hover {
        background-color: var(--button-hover);
    }

    input {
        display: none;
    }
}

.upload + div {
    display: none;
    color: var(--error);
    margin-bottom: 1em;
}

.upload.error div {
    border-color: var(--error);
}

.upload.error + div {
    display: block;
}

// Checkbox

.grid {
    display: grid;
}

.checkbox {
    --border: var(--foreground);
    --border-hover: var(--foreground);
    --border-active: var(--accent);
    --tick: var(--background);

    position: relative;

    span {
        position: absolute;
        top: 0;
        left: 28px;
    }

    input, svg {
        width: 21px;
        height: 21px;
        display: block
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
        &:hover {
            --s: 2px;
            --b: var(--border-hover);
        }
        &:checked {
            --b: var(--border-active);
        }
    }

    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }

    &.bounce {
        --stroke: var(--tick);
        input {
            &:checked {
                --s: 11px;
                & + svg {
                    animation: bounce .4s linear forwards .2s;
                }
            }
        }
        svg {
            --scale: 0;
        }
    }
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

// Media queries

@media screen and (max-width: 750px) {
    .kanji_grid {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 500px) {
    main {
        font-size: .9rem;

        #add_kanji label, form p {
            margin: 0;
        }

        > form input {
            margin-left: 0;
            width: calc(100% - 2em);
        }

        > div:not(#kanji) {
            padding: .5em 0;
        }
    }

    section {
        padding: 0;
    }

    #new_kanji {
        border-width: 1px;
    }

    .kanji_grid {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 350px) {
    .upload {
        flex-direction: column;

        div {
            border-radius: 5px 5px 0 0;
            border-width: 1px 1px 0 1px;
            width: auto;
        }

        label {
            border-radius: 0 0 5px 5px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 300px) {
    main {
        font-size: 5vw;
    }
}
