main {
    display: flex;
    flex-direction: column;
    margin: 2em 10vw;

    > p {
        text-align: center;
    }

    #add_kanji label, form p {
        margin: 1em;
        padding: 0;
    }

    > form input {
        appearance: none;
        background: none;
        border: 2px solid var(--foreground);
        border-radius: 5px;
        color: var(--foreground);
        display: block;
        font-size: 1em;
        padding: .5rem 1rem;
        width: calc(100% - 3em);
        margin: 1em auto;
    }

    input:focus {
        border-color: var(--accent);
        outline: none;
    }

    > div:not(#kanji) {
        padding: .5em 1em;
    }
}

section > button {
    margin: auto !important;
}

#anki, #wanikani {
    display: none;
}

.remove {
    background: var(--background-dark);
    border-radius: 5px;
    border: none;
    color: var(--error);
    cursor: pointer;
    display: none;
    position: fixed;
    bottom: .5em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

#remove_from_preview {
    bottom: 2em;
    z-index: 11;
}

#confirmation {
    z-index: 13;
}

#confirmation + .overlay {
    z-index: 12;
}

#preview > div:last-child {
    position: sticky;
    bottom: 0;
    z-index: 11;

    button.text:not(:hover) {
        background-color: var(--background-darkest);
    }
}

.remove:hover {
    background-color: var(--error);
    color: inherit;
}

.kanji_grid {
    display: grid;
    font-size: 2em;
    grid-auto-rows: 2em;
    grid-template-columns: repeat(auto-fill, 2em);
    // Disable text selection
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    div {
        text-align: center;
        line-height: 2em;
    }

    div:hover {
        background-color: var(--background-light);
    }

    div.selected {
        background-color: var(--background-darker);
    }
}

#preview_kanji {
    margin-bottom: 1em;
}

// Select menus

select {
    background: none;
    border: solid var(--foreground);
    border-width: 0 0 1px 0;
    color: var(--foreground);
    font-size: .9em;
}

select:focus {
    border-color: var(--accent);
}

section {
    padding: 1em;

    button {
        margin: 0;
    }
}

// File selector

.upload {
    display: flex;
    margin: 1em 0;

    div {
        border: 1px solid var(--foreground);
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
        overflow: hidden;
        padding: .5em;
        width: 15em;
        height: 1.5em;
        // Hides the vertical overflow which would otherwise show up due to the padding
        line-height: calc(1.5em + 1px);
    }

    label {
        background-color: var(--accent);
        border-radius: 0 5px 5px 0;
        color: var(--background-light);
        cursor: pointer;
        font-family: "Cantarell Bold";
        font-size: .9em;
        padding: calc(.5em + 2px) 1em;
    }

    input {
        display: none;
    }
}

.upload + div {
    display: none;
    color: var(--error);
    margin-bottom: 1em;
}

.upload.error div {
    border-color: var(--error);
}

.upload.error + div {
    display: block;
}

// Checkbox

.grid {
    display: grid;
}

.checkbox {
    --border: var(--foreground);
    --border-hover: var(--foreground);
    --border-active: var(--accent);
    --tick: var(--background);

    position: relative;

    div {
        position: absolute;
        top: 0;
        left: 28px;
    }

    input, svg {
        width: 21px;
        height: 21px;
        display: block
    }

    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        outline: none;
        background: var(--background);
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 4px;
        transition: box-shadow .3s;
        box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
        &:hover {
            --s: 2px;
            --b: var(--border-hover);
        }
        &:checked {
            --b: var(--border-active);
        }
    }

    svg {
        pointer-events: none;
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--stroke, var(--border-active));
        position: absolute;
        top: 0;
        left: 0;
        width: 21px;
        height: 21px;
        transform: scale(var(--scale, 1)) translateZ(0);
    }

    &.bounce {
        --stroke: var(--tick);
        input {
            &:checked {
                --s: 11px;
                & + svg {
                    animation: bounce .4s linear forwards .2s;
                }
            }
        }
        svg {
            --scale: 0;
        }
    }
}

@keyframes bounce {
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}
