// Themes

// System dark theme
@media (prefers-color-scheme: dark) {
    :root {
        --background: #212121;
        --foreground: #ffffff;
        --accent: #1df75e;
        --background-dark: #1a1a1a;
        --background-darker: #141414;
        --background-darkest: #000000;
        --background-light: #333333;
        --foreground-dark: #eaeaea;
        --error: #ef374c;
    }
}

// System light theme
@media (prefers-color-scheme: light) {
    :root {
        --background: #ffffff;
        --foreground: #000000;
        --accent: #1df75e;
    }
}

// Forced dark theme
.dark {
    --background: #212121;
    --foreground: #ffffff;
    --accent: #1df75e;
    --background-dark: #1a1a1a;
    --background-darker: #141414;
    --background-darkest: #000000;
    --background-light: #333333;
    --error: #ef374c;
}

// Forced light theme
.light {
    --background: #ffffff;
    --foreground: #000000;
    --accent: #1df75e;
}

// Fonts

@font-face {
    font-family: "Cantarell Bold";
    src: url(/fonts/Cantarell/Cantarell-Bold.ttf);
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

// Actual styles

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    a {
        border: solid var(--background-dark);
        border-width: 2px 0;
        color: var(--accent);
        text-align: center;
        text-decoration: none;
        padding: .5em 0;
    }

    a.active {
        border-bottom-color: var(--accent);
    }

    a:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.14), 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 0 4px -1px rgba(0, 0, 0, 0.3);
    }
}

header {
    padding: 0 2rem 1rem 2rem;
    font-size: 2.75em;
    font-weight: 600;
    text-align: center;

    a {
        color: var(--accent);
        text-decoration: none;
    }
}

main {
    padding: 2em 10vw;
}

button {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    color: var(--background-light);
    cursor: pointer;
    display: block;
    font-family: "Cantarell Bold";
    padding: .75em 1.5em;
    margin: auto;
}

button.text {
    background: none;
    color: var(--foreground);
}

button.text:hover {
    background-color: var(--background-light);
}

button:disabled {
    cursor: default;
    opacity: .7;
}

// Number inputs

input[type=number] {
    -moz-appearance: textfield;
    background: none;
    border: solid var(--foreground);
    border-width: 0 0 2px 0;
    color: var(--foreground);
    font-size: 1.5rem;
    text-align: center;
}

input[type=number]:focus {
    border-color: var(--accent);
    outline: none;
}

input[type=number]:not(:placeholder-shown):invalid {
    border-color: var(--error);
    box-shadow: none;
}

// Dialogs

dialog {
    background-color: var(--background-darkest);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 8px rgba(15, 15, 15, 1);
    color: var(--foreground);
    display: none;
    max-height: calc(95vh - 2rem);
    min-width: 50%;
    max-width: calc(95vw - 2rem);
    overflow: auto;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

    > div {
        display: flex;
        justify-content: right;

        button {
            margin: 0;
        }

        button:not(.text) {
            color: var(--background-darkest);
        }

        button.text {
            margin: 0 1em;
        }

        button.text:hover {
            background-color: var(--background-dark);
        }
    }
}

.overlay {
    background-color: #00000066;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

// Media queries

@media screen and (max-width: 1000px) {
    dialog {
        width: 75vw;
    }
}

@media screen and (max-width: 750px) {
    main {
        padding: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    dialog {
        width: 90vw;
    }
}
