// Themes

@mixin theme($dark) {
  @if $dark {
    --background: #212123;
    --foreground: #fff;
    --accent: #eea0c1;
    --background-dark: #1a1a1a;
    --background-dark-transparent: #1a1a1acc;
    --background-extreme: #000;
    --background-extreme-transparent: #000c;
    --background-light: #333;
    --essay-hover: #fff1;
    --direction: #fff4;
    --essay-divider: #90caf9;
    --card: #2f2f31;
    --link: #81b7f1;
    --shadow: rgba(15, 15, 15, 1);
    --priority: #191919;
    --button: #ee3685;
    --button-hover: #df1c6f;
    --remove: #fbb2d1;
    --remove-hover: #ef374c;
    --error: #ef374c;
    --success: #43ef37;
  } @else {
    --background: #fff;
    --foreground: #000;
    --accent: #ff2983;
    --background-dark: #ffeef5;
    --background-dark-transparent: #ffeef5cc;
    --background-extreme: #fff;
    --background-extreme-transparent: #fffc;
    --background-light: #ffdbea;
    --essay-hover: #0001;
    --direction: #0004;
    --essay-divider: #0288d1;
    --card: #ffb8c5;
    --link: #1873d4;
    --shadow: rgba(15, 15, 15, .25);
    --priority: #e8e8e8;
    --button: #ffb6b6;
    --button-hover: #fca1a1;
    --remove: #ef374c;
    --remove-hover: #d31329;
    --error: #ff0000;
    --success: #16bf22;
  }
}

// System dark theme
@media (prefers-color-scheme: dark) {
  :root {
    @include theme($dark: true);
  }
}

// System light theme
@media (prefers-color-scheme: light) {
  :root {
    @include theme($dark: false);
  }
}

// Forced dark theme
.dark {
  @include theme($dark: true);
}

// Forced light theme
.light {
  @include theme($dark: false);
}

// Fonts

@font-face {
  font-family: "Cantarell Bold";
  src: url(/fonts/Cantarell-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/fonts/SourceSansPro-Regular.ttf);
  font-display: swap;
}

// Material Icons

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/MaterialIcons-Round.woff2) format('woff2');
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

// Actual styles


body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  a {
    border: solid var(--background-dark);
    border-width: 2px 0;
    color: var(--accent);
    text-align: center;
    text-decoration: none;
    padding: .5em 0;
  }

  a.active {
    border-bottom-color: var(--accent);
  }

  a:hover {
    border-bottom-width: 2px;
    border-bottom-color: var(--button);
  }
}

header {
  padding: 0 2rem 1rem 2rem;
  font-size: 2.75em;
  text-align: center;

  a {
    color: var(--accent);
    text-decoration: none;
  }

  button {
    appearance: none;
    background-color: var(--background);
    border: none;
    border-radius: 50%;
    color: var(--accent);
    display: flex;
    justify-content: center;
    place-items: center;
    width: 32px;
    height: 32px;
    margin: 0 5px;
  }

  button:hover {
    background-color: var(--accent);
    color: var(--background);
  }

  div {
    background-color: var(--background);
    border-radius: 5px;
    cursor: default;
    display: flex;
    align-items: center;
    align-content: center;
    padding: .25rem;
    position: absolute;
    right: .3em;
    top: .3em;

    button:not(.active) {
      display: none;
    }
  }

  div.open {
    box-shadow: 0 0 4px 2px var(--shadow);

    button {
      display: flex;
    }
  }
}

main {
  padding: 2em 10vw;
}

button:not(.exception) {
  background-color: var(--button);
  border: none;
  border-radius: 5px;
  color: var(--foreground);
  cursor: pointer;
  display: block;
  font-family: "Cantarell Bold", sans-serif;
  padding: .75em 1.5em;
  margin: auto;
}

button:not(:disabled):not(.exception):hover {
  background-color: var(--button-hover);
}

button.text {
  background: none;
  color: var(--foreground);
}

button.text:not(:disabled):hover {
  background-color: var(--background-light);
}

button:disabled {
  cursor: default;
  opacity: .7;
}

// Number inputs

input[type=number] {
  -moz-appearance: textfield;
  background: none;
  border: solid var(--foreground);
  border-width: 0 0 2px 0;
  color: var(--foreground);
  font-size: 1.5rem;
  text-align: center;
  width: 3rem;
}

input[type=number]:focus {
  border-color: var(--accent);
  outline: none;
}

input[type=number]:not(:placeholder-shown):invalid {
  border-color: var(--error);
  box-shadow: none;
}

// Dialogs

dialog {
  background-color: var(--background-extreme);
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 12px 8px var(--shadow);
  color: var(--foreground);
  display: none;
  max-height: calc(95vh - 2rem);
  min-width: 50%;
  max-width: calc(95vw - 2rem);
  overflow: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;

  > div, form > div:last-child {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 0 !important;
    }

    button.text {
      margin: 0 1em !important;
    }

    button.text:not(:disabled):hover {
      background-color: var(--background-dark);
    }
  }
}

.overlay {
  background-color: #00000066;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

// Select menus

details.select {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-align: center;
  width: 125px;

  summary {
    border: solid var(--foreground);
    border-width: 0 0 2px 0;
    padding: 0 .25em;
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5em;
    height: .5em;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
  }

  div {
    background: var(--background);
    box-sizing: border-box;
    box-shadow: 0 0 8px 2px var(--shadow);
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }

  button {
    appearance: none;
    background: none;
    border: none;
    border-bottom: 2px solid var(--background-dark);
    color: var(--foreground);
    cursor: pointer;
    font-size: 1em;
    margin: 0;
    padding: .25em;
    width: 100%;
  }

  button:last-child {
    border-bottom: none;
  }
}

details.select[open] {
  z-index: 1;

  summary {
    border-color: var(--accent);
  }

  summary:after {
    transform: rotate(-45deg) translate(0%, 0%);
  }
}

// Checkbox

.grid {
  display: grid;
}

.checkbox {
  --border: var(--foreground);
  --border-hover: var(--foreground);
  --border-active: var(--accent);
  --tick: var(--background);

  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 28px;
  }

  input, svg {
    width: 21px;
    height: 21px;
    display: block
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    outline: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 4px;
    transition: box-shadow .3s;
    box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));

    &:focus, &:hover {
      --s: 2px;
      --b: var(--border-hover);
    }

    &:checked {
      --b: var(--border-active);
    }
  }

  svg {
    pointer-events: none;
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--stroke, var(--border-active));
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    transform: scale(var(--scale, 1)) translateZ(0);
  }

  &.bounce {
    --stroke: var(--tick);

    input {
      &:checked {
        --s: 11px;

        & + svg {
          animation: bounce .4s linear forwards .2s;
        }
      }
    }

    svg {
      --scale: 0;
    }
  }
}

@keyframes bounce {
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}

// Media queries

@media screen and (max-width: 1000px) {
  dialog {
    width: 75vw;
  }
}

@media screen and (max-width: 750px) {
  main {
    padding: 1.5em;
  }

  dialog button, .remove {
    font-size: .7em;
  }
}

@media screen and (max-width: 600px) {
  dialog {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  #remove_from_preview {
    transform: none;
    left: 2em;
    bottom: 2.25rem !important;
  }
}

@media screen and (max-width: 400px) {
  dialog button, .remove {
    font-size: .6em;
  }
}

@media screen and (max-width: 300px) {
  dialog button, .remove {
    font-size: 2.5vw;
  }
}
