body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
}

a {
    color: var(--link);
}

#settings {
    display: none;
    font-size: 1.5em;
    text-align: center;
}

.warning {
    display: none;
    font-size: 1rem;
}

#quiz_container, #report {
    display: none;
}

#quiz {
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin-top: 0em;
    text-align: center;
}

#answer, #evaluation, #meaning, #kana {
    font-size: 1.75em;
}

#kana {
    margin-bottom: .5em;
}

#question {
    font-size: 2.25em;
    margin: 0;
}

#answer, #evaluation {
    background: none;
    border: solid var(--foreground);
    border-radius: 0;
    border-width: 0 0 1px 0;
    color: var(--foreground);
    font-family: sans-serif;
    width: 100%;
    overflow: hidden;
    margin: .5em;
    padding: 2px;
    text-align: center;
}

#evaluation {
    display: none;
}

.wrong {
    color: var(--error);
}

.missing {
    color: var(--missing);
}

#answer:focus {
    border-bottom: 2px solid var(--accent);
    padding-bottom: 1px;
    outline: none;
}

#evaluation.correct {
    border-bottom-color: var(--success);
    color: var(--success);
}

#evaluation.incorrect {
    border-bottom-color: var(--error);
}

#buttons {
    display: flex;
    justify-content: center;

    button {
        margin: auto 2em;
    }
}

#report_dialog {
    font-size: 1.1em;

    textarea, input {
        background: none;
        border: 2px solid var(--foreground);
        border-radius: 5px;
        color: var(--foreground);
        display: block;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 1em;
        width: calc(100% - 1em);
        margin: 2em auto;
        padding: .5em;
    }

    textarea:focus, input:focus {
        border-color: var(--accent);
        outline: none;
    }
}

#report_type {
    width: 6.2em;
}

#report_dialog.no_evaluate #report_type button:last-child {
    display: none;
}

// Checkbox

// Customize the label (the container)
.container {
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    // Hide the browser's default checkbox
    input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    // Create a custom checkbox
    .checkmark {
        border: 1px solid var(--foreground);
        border-radius: 5px;
        padding: 1px;
        position: absolute;
        height: 1.5rem;
        width: 1.5rem;
    }
}

.container:hover input:not(:checked) ~ .checkmark {
    border-width: 2px;
    padding: 0;
}

.container input:checked ~ .checkmark {
    background-color: var(--accent);
    border-color: var(--accent);
}

// Create the checkmark/indicator (hidden when not checked)
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

// Show the checkmark when checked
.container input:checked ~ .checkmark:after {
    display: block;
}

// Style the checkmark/indicator
.container .checkmark:after {
    left: 9px;
    top: 4px;
    width: 5px;
    height: 11px;
    border: solid var(--background);
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

// Media queries

@media screen and (max-width: 800px) {
    #settings, input[type=number] {
        font-size: 1.25rem !important;
    }

    .warning {
        font-size: .9rem;
    }

    button {
        font-size: .8rem;
    }

    #question {
        font-size: 1.75rem;
    }

    #answer, #meaning, #kana {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 450px) {
    #quiz {
        padding: .5em;
    }

    button {
        font-size: .7rem;
    }

    #question {
        font-size: 1.5rem;
    }

    #answer, #meaning, #kana {
        font-size: 1.1rem;
    }
}
