#quiz {
    background-color: var(--background-light);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
    text-align: center;
}

button {
    background-color: var(--accent);
    border: none;
    border-radius: 5px;
    color: var(--background-light);
    display: block;
    padding: .75em 1.5em;
    margin: auto;
}

#meaning, #kana {
    font-size: 2em;
    height: 1em;
}

#question {
    font-size: 2.5em;
    margin: .5em 0;
}

#answer {
    border-bottom: 1px solid var(--foreground);
    color: var(--foreground);
    text-align: center;
}

// Fancy stuff to resize input based on content size
// Found the code on css-tricks.com
.input-sizer {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    font-size: 2em;
    margin-bottom: .5em;

    &.stacked {
        padding: .5em;
        align-items: stretch;

        &::after, input {
            grid-area: 2 / 1;
        }
    }

    &::after, input {
        width: auto;
        min-width: 1em;
        grid-area: 1 / 2;
        font: inherit;
        padding: 0.25em;
        margin: 0;
        resize: none;
        background: none;
        appearance: none;
        border: none;
    }

    &::after {
        content: attr(data-value) ' ';
        visibility: hidden;
        white-space: pre-wrap;
    }

    &:focus-within {
        input:focus {
            outline: none;
        }
    }
}

#answer:focus {
    border-bottom: 2px solid var(--accent);
    padding-bottom: calc(.25em - 1px);
    outline: none;
}

#answer.correct {
    border-bottom-color: #43ef37;
    color: #43ef37;
}

#answer.incorrect {
    border-bottom-color: #ef374c;
    color: var(--error);
}
