/*
    For styles that are common to the quiz and the essay
*/

#save_dialog, #report_dialog {
  font-size: 1.1em;

  textarea, input {
    background: none;
    border: 2px solid var(--foreground);
    border-radius: 5px;
    color: var(--foreground);
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    width: calc(100% - 1em);
    margin: 0 auto 2em auto;
    padding: .5em;
  }

  textarea:focus, input:focus {
    border-color: var(--accent);
    outline: none;
  }
}

#report_type {
  width: 6.2em;
}

#report_dialog.no_evaluate #report_type button:last-child {
  display: none;
}
