#streaks_header {
  align-items: baseline;
  display: flex;
  font-size: 1rem;
  gap: 2em;
  justify-content: center;
  margin-top: 1em;
}

#export_streaks, #import_streaks {
  appearance: none;
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--foreground);
  padding: 5px;
}

#export_streaks:hover, #import_streaks:hover {
  background-color: var(--background-dark);
}

#streaks {
  display: flex;
  justify-content: center;
  max-width: calc(800px + 3rem);
  margin: 0 auto 1rem auto;
}

#prev_year, #next_year {
  margin: auto;
  border-radius: 5px;
}

#prev_year:hover, #next_year:hover {
  background-color: var(--background-dark);
}

svg {
  width: 1rem;
}

#scrollable {
  width: 100%;
}

#months {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: .25em;
}

#heatmap {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-auto-flow: column;
  gap: 2px;
  margin: 0 .5rem;
}

.streak_day {
  background-color: var(--background-dark);
  aspect-ratio: 1;
  border-radius: 2px;
}

.streak_day.empty {
  background-color: var(--background) !important;
}

#stats {
  display: flex;
  justify-content: space-evenly;
  font-size: 1rem;
  max-width: 800px;
  margin: auto;
}

@media screen and (max-width: 600px) {
  #streaks {
    max-width: 95vw;
  }

  #scrollable {
    overflow-x: scroll;
  }

  #months, #heatmap {
    width: 700px;
    font-size: .9rem;
  }
  
  #stats {
    flex-direction: column-reverse;
    gap: 0.5em;
  }
}
